body {
  margin: 0;
  padding: 0;
}

/*
** Index Page
*/

/* Room */
.room {
  margin: 10px;
}

.room a {
  display: block;
  text-align: center;
  background: #ddd;
  padding: 20px;
  border-radius: 5px;
}

.room:hover {
  background: #eee;
}



/*
** Room Page
*/

/* roomInfo */
.room-info {
  margin: 20px auto;
  max-width: 600px;
}

.room-info h4 {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd
}

.room-info label {
  width: 110px;
  text-align: right;
}


/* Popup */
.popup-username {
  text-align: center;
  padding: 15px;
}


/* Chat Board */
#chat-board {
  max-width: 600px;
  margin: auto;
}

#chat-board .chat-board__view {
  background: #ddd;
  height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
}

#chat-board .chat-board__view .user-enter-msg {
  background: red;
  color: #fff;
  text-align: center;
}

#chat-board .chat-board__view .message {
  padding: 5px 10px;
  background: #dbf3ff;
}

#chat-board .chat-board__view .message img {
  max-width: 200px;
}

#chat-board .chat-board__view .me {
  text-align: right;
  background: #dbffdb;
}

@media (max-width: 576px) {
  #chat-board .chat-board__view {
    background: #ddd;
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}


/* Input Panel */
#chat-board .chat-board__input__panel {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}

#chat-board .chat-board__input__panel #message {
  width: 280px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding-left: 10px;
}

#chat-board .chat-board__input__panel #message:focus {
  outline: none;
  border-color: rgb(96, 210, 255);
  box-shadow: 0px 0px 3px rgb(96, 250, 255);
}

#chat-board .chat-board__input__panel .btn {
  background: #00dcff;
  letter-spacing: 2px;
  padding: 5px 15px;
  cursor: pointer;
}

#chat-board .chat-board__input__panel .upload-file__label {
  position: relative;
  display: inline-block;
  padding: 5px 25px;
  background: #ffe000;
  margin-bottom: 0;
  cursor: pointer;
}

#chat-board .chat-board__input__panel #upload-file {
  position: absolute;
  padding-left: 1000px;
  width: 0;
  height: 0;
}

@media (max-width: 576px) {
  #chat-board .chat-board__input__panel #message {
    width: 240px;
  }

  #chat-board .chat-board__input__panel .btn {
    padding: 5px 10px;
  }
}