#app
  .container
    .row.mt-5
      .col-3
        .room
          a(href="./room1") Room-1
      .col-3
        .room
          a(href="./room2") Room-2
      .col-3
        .room
          a(href="./room3") Room-3
      .col-3
        .room
          a(href="./room4") Room-4