#app
  .container
    .explain
      h4 範例房間
      p 您可以直接點選欲進入的房間進行聊天，或是自行創立個人房間，只需在網址列上輸入類似範例 - 以 room 為開頭的連結，就會自動幫您創造新的聊天室摟～。
    .row.mt-5
      .col-md-3.col-12
        .room
          a(href="./room1") Room-1
      .col-md-3.col-12
        .room
          a(href="./room2") Room-2
      .col-md-3.col-12
        .room
          a(href="./room3") Room-3
      .col-md-3.col-12
        .room
          a(href="./room4") Room-4