#app
  .container
    h3 房間：{{ roomid }}
    p 使用者暱稱：{{ username }}
    p 使用者清單：{{ userList }}
    p 房間人次：{{ userNumber }}
    #chat-board
      .chat-board__view(v-html="boardContent")
      .chat-board__input__panel
        input(type="text" id="message" v-model="message")
        div.btn.ml-4(@click="sendMessage") 送出